.admin-card-title-dashboard {
    font-weight: 600;
}

.admin-card-dashboard .icon {
    color: white;
    font-size: 2.5rem;
}

.admin-canvas-dashboard {
    margin-top: 10px;
    width: 100% !important;
    height: auto !important;
}

.admin-card-dashboard {
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#coin-distribution {
    margin-top: 1rem;
}

body {
    background-color: #f8f9fa;
}

.admin-status-account {
    font-weight: 600;
}

.admin-status-account-enabled {
    color: #28a745;
    /* Xanh lá cây */
}

.admin-status-account-deleted {
    color: crimson;
    /* Màu đỏ đậm */
}

.admin-status-account-disabled {
    background-color: #f0f0f0;
    color: #888888;
}

.admin-account-dashboardPage {
    animation: fadeIn 0.7s ease;
}

.admin-account-table-dashboardPage {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.7s ease;
}

/* Header */
.admin-account-table-dashboardPage thead {
    background-color: #007bff;
    color: white;
}

.admin-account-table-dashboardPage th,
.admin-account-table-dashboardPage td {
    padding: 16px 20px;
    font-size: 15px;
    text-align: left;
}

/* Dòng xen kẽ màu */
.admin-account-table-dashboardPage tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-calendar-container-dashboardPage {
    display: flex;
    gap: 10px;
}

.admin-calendar-container-dashboardPage input {
    width: 160px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-size: 14px;
}

.admin-calendar-popup-dashboardPage {
    position: absolute;
    z-index: 999;
    margin-top: 4px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
}

.admin-calendar-container-dashboardPage {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
}

.admin-button-search-dashboardPage {
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    border: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.admin-button-search-dashboardPage:hover {
    transform: translateY(-3px);
    background-color: #0056b3;
}