.form-dangkylichkham {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    margin: 30px auto;
    animation: fadeInUp 0.7s ease-in-out;
}

.title {
    color: white;
    background-color: #102E9E;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #001D54;
}

.form-dangkylichkham p {
    color: white;

}

.khung-dat-lich {
    background-color: #238AF1;
    box-shadow: 5px 5px 5px 5px #001D54;

    padding: 0 20px 20px 20px;
    border-radius: 20px;
}

.loi_mo_dau {
    text-align: justify;
}

.chon-loai-dich-vu p {
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

.nut-chon-dich-vu {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.nut-chon-dich-vu button {
    width: 300px;
    border-radius: 10px;
    height: 50px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nut-chon-dich-vu button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nut-chon-dich-vu .active {
    background-color: #102E9E;
    color: white;
}

.doctor p {
    font-size: larger;
    margin: 10px 0;

}

.doctor select {
    width: 400px;
    margin: 10px auto;
    height: 30px;
    border-radius: 7px;
    animation: fadeInUp 0.7s ease-in-out;

}

.date p {
    font-size: larger;
    margin: 10px 0;
}

.date input {
    width: 400px;
    margin: 10px auto 30px;
    height: 30px;
    border-radius: 7px;
}

.information p {
    font-size: larger;
    margin: 10px 0;
}

.information input {
    width: 400px;
    margin: 10px auto 30px;
    height: 30px;
    border-radius: 7px;
    animation: fadeInUp 0.7s ease-in-out;

}

.information select {
    width: 400px;
    margin: 10px auto 30px;
    height: 30px;
    border-radius: 7px;
}

.submit_but {
    text-align: center;
}

.submit_but p {
    font-size: larger;
}

.submit_but button {
    margin: 10px auto;
    height: 50px;
    width: 450px;
    background-color: #102E9E;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.submit_but button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* CSS CAI LICH */


.input-calendar-wrapper {
    position: relative;
    width: fit-content;
}

.lich-container {
    max-width: 450px;
    margin: 40px auto;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;

    left: -400px;
    top: -100px;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #1976d2;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2px;
}

.dot_blue {
    height: 6px;
    width: 6px;
    background-color: #1976d2;
    border-radius: 50%;
    margin-top: 2px;
}

.legend {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    gap: 6px;
}


.time-section {
    margin-top: 20px;
}

.time-box {
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 6px;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.time-btn {
    padding: 8px 12px;
    border: 1px solid #1976d2;
    background-color: white;
    color: #1976d2;
    border-radius: 10px;
    cursor: pointer;
}

.time-btn.active {
    background-color: #1976d2;
    color: white;
    /* border-radius: 10px; */
}



.submit-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.react-calendar__tile.disabled-day {
    opacity: 0.3;
    pointer-events: none;
}

.has-appointment {
    border-radius: 10px;
}

.khung-lich {
    border-radius: 10px;
    margin: 40px auto;
}

.hang_dau {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.hang_hai {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.hang_ba {
    display: flex;
    gap: 50px;
    justify-content: center;
}