.service-card-name {
    max-width: 1332px;
    margin: -10px auto -4px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.service-card-name01 {
    flex: 1;
    min-width: 300px;
}

.service-card-name .service-h1 {
    font-size: 35px;
    color: #001D53;
    margin-top: 19px;
    margin-bottom: -16px;
    text-align: left;
}

.service-card-name .service-h2 {
    font-size: 46px;
    color: #077BF6;
    margin-bottom: 16px;
    margin-top: 17px;
    text-align: left;
}

.service-card-name02 {
    flex: 2;
    min-width: 300px;
}

.service-card-name .service-p {
    font-size: 15px;
    color: #474646;
    line-height: 1.6;
    text-align: justify;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0px 16px 40px;
    margin-top: 13px;
}

.view-all-button {
    display: block;
    width: fit-content;
    margin: 4px;
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
}

.view-all-button:hover {
    background-color: #007bff;
    color: white;
}